@import 'variable';

$text-xs: 0.8rem;
$text-sm: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 1.75rem;

.text-success {
  color: $positive;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-accent {
  color: $accent;
}

.text-error {
  color: $negative;
}

.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

:root {
  --text-xs: #{$text-xs};
  --text-sm: #{$text-sm};
  --text-md: #{$text-md};
  --text-lg: #{$text-lg};
  --text-xl: #{$text-xl};
}
